.main-content{
    padding: 125px 0 425px;
    height: 100vh;
    background: url(https://devplus.edu.vn/assets/images/devplus/Devplus_missions.png);
    background-size: cover;
    background-position: center;
}