.wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: var(--default-header-height);
    z-index: var(--default-header-z-index);
    background-color: #fff;

}

.container {
    animation-name: example;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    top: 0px;
    position: fixed;
    display: flex;
    height: 90px;
    justify-content: center;
    width: 100%;
    background-color: #fff;

    @keyframes example {
        from {
            top: -25px;
        }

        to {
            top: 0px
        }

    }
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1269px;
    height: 100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff
}

.col-2 {
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;

    &.logo-part {
        width: var(--default-header-col-2-weight);
        height: var(--default-header-height);
        display: flex;
        align-items: center;

    }

    img {
        width: var(--default-header-col-2-weight);
        height: auto;
        display: flex;
    }

}



.col-8 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    font-weight: 600;
    line-height: 120px;

    .menu-area {
        width: 816.65px;
    }

    .main-menu {
        width: 685.35px;
    }

    .menu-items {
        display: flex;
        justify-content: space-between;
        // justify-content:space-between
    }

    .menu-item {
        font-size: 1rem;
        text-transform: uppercase;
    }

}

.menu-item {
    cursor: pointer;

    &:hover {
        color: #226FB7;
    }
}

.has-children {

    span {
        // font-size:11px;
        margin-right: 15px;
        font-weight: 600;
    }

}

.sub-menu {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    background-color: #ffffff;
    color: #333;
    padding: 15px 0;
    z-index: var(--default-header-z-index);

    li {
        text-transform: capitalize;
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 15px;
        font-weight: 400;
        width: 260px;
        height: 49px;
        cursor: pointer;
        padding: 10px 18px 10px 30px;

        &:hover {
            color: #226FB7;
        }

    }

}

.has-children span::before {
    content: "+";
    position: absolute;
    left: auto;
    right: 44%;
    top: 50%;
    text-align: center;
    display: block;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all .5s ease;
}

.has-children span:hover:before {
    content: "-";
}

.active {
    color: #226FB7;
}

.icon-bar {
    cursor: pointer;
}

.right-menu-toggle {


    width: 100%;
    height: 100%;
    font-size: 2rem;
    // position: relative;

}

.nav-right-menu-toggle {
    animation-name: nav_right;
    animation-duration: 0.4s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    position: fixed;
    overflow: visible;
    background: #ffffff;
    padding: 30px 50px;
    top: 0;
    // right: 0;
    width: 500px;
    height: 100%;
    z-index: 99;
    text-align: center;
    transition: all 0.6s ease;
    @keyframes nav_right {
        from {
            right: -227px;
        }

        to {
            right: 0px;
        }
    }


}

.close-btn {
    width: 100%;
    height: 39px;
    .background-icon {
        float: left;
        width: 40px;
        height: 39px;
        border-radius: 50%;
        background: #226FB7;
    }

    .icon-menu {
        margin-top: 8px;
        color: #fff;
        font-size: 1.4rem;
        line-height: 40px;
        -webkit-transition: 0.6s ease-out;
        -moz-transition: 0.6s ease-out;
        transition: 0.6s ease-out;
    }

    &:hover {

        .icon-menu {
            -webkit-transform: rotateZ(180deg);
            -moz-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
        }
    }
}


.canvas-logo img {
    padding-left: 0;
    padding-bottom: 30px;
    width: 200px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}


.offcanvas-text {
    margin: 0 0 26px;
    line-height: 1.8;
    text-align: inherit;

    p {
        font-size: 15px;
    }
}

.offcanvas-gallery {}

.map-img {}