.wrapper{
    display: flex;
    justify-content:center;
    width: 100%;
    height: var(--default-header-height);
    background-color: #333;
}
.container{

}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 1269px;
    height:100%;
    margin-left: -15px;
    margin-right: -15px;
    background-color: #fff

}

.col-2{
    display: flex;
    align-items: center;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
    background-color: #DDB;
    &.logo-part{
        width: 182px;
        height: 120px;
        display: flex;
        align-items: center;

    }
    img{
        width: 182px;
        height: auto;
        display: flex;
    }
    
}
.menu-icon{
    font-size:2rem;
}


.col-8{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    width: 816.65px;
    font-weight: 600;
    line-height: 120px;
    background-color:#FFDDDd;
    ul{
        display: flex;
        justify-content: space-between;
        // justify-content:space-between
    }
    li{
        font-size:1rem;
        text-transform: uppercase;
    }
    
}
.menu-item{
    cursor: pointer;
    &:hover{
        color:#226FB7;
    }
}

.active{
    color: #226FB7;
}